{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/git",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "build/cli-tool-linux", "label": "Linux Release"},
        {"path": "build/cli-tool-macos", "label": "MacOS Release"},
        {"path": "build/cli-tool-win.exe", "label": "Windows Release"},
      ]
    }],
  ]
}