{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/git",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "build/ecoinfra-linux", "label": "Linux Release"},
        {"path": "build/ecoinfra-macos", "label": "MacOS Release"},
        {"path": "build/ecoinfra-win.exe", "label": "Windows Release"},
      ]
    }],
  ]
}